body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    background-image: url('../../../public/img/principal.jpg');
    background-size: cover; 
}
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh; /* Ajusta la altura del contenedor*/
    text-align: center; /* Alinea el texto en el centro */
}
.col-md-12 {
    max-width: 600px; 
    margin: 0 auto; 
}
#h4 {
    font-size: 30px; /* Ajusta el tamaño del título*/
}
#butons {
    display: block;
    margin: 10px auto; /* Centra los botones horizontalmente */
    padding: 10px 20px; /* Tamaño de los botones*/
    background-color: #007BFF; /*Fondo del botón */
    color: #fff; /*color del texto del botón */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
#butons:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón por encima */
}