body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    background-image: url('../../../public/img/principal.jpg');
    background-size: cover;
}
.container {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 10px auto;
  width: 36%;
  padding: 20px auto;
  box-shadow: 1px 1px 2px 2px #88888879;
  align-items: center;
  background-color: #fdfdfd67;
}
@media (max-width: 1490px) {
  .container {
    width: 38%;
    box-shadow: 1px 1px 2px 2px #88888879;
  }
}
@media (max-width: 1390px) {
  .container {
    width: 40%;
    box-shadow: 1px 1px 2px 2px #88888879;
  }
}
@media (max-width: 1320px) {
  .container {
    width: 44%;
    box-shadow: 1px 1px 2px 2px #88888879;
  }
}
@media (max-width: 1220px) {
  .container {
    width: 48%;
    box-shadow: 1px 1px 2px 2px #88888879;
  }
}
@media (max-width: 1100px) {
  .container {
    width: 53%;
    box-shadow: 1px 1px 2px 2px #88888879;
  }
}
@media (max-width: 1000px) {
  .container {
    width: 69%;
    box-shadow: 1px 1px 2px 2px #88888879;
  }
}
h5 {
  text-align:left;
  margin: 8px 0;
}
.select,
input[type="time"],
input[type="date"],
input[type="file"] {
  border: 2px solid #88bef7;
  border-radius: 20px;
  padding: 9px;
  margin: px;
  width: 100%;
}
input[type="file"] {
  padding: 10px;
  width: auto;
}
input[type="radio"] {
  margin-right: 3px;
}
#justificado {
  border: 2px solid #88bef7;
  border-radius: 20px;
  padding: 8px;
  width: auto;
  margin-top: 5px;
}
.selectdiv {
  display: flex;
align-items: center;
  position: relative;
  border-radius: 20px;
  min-width: 100px;
  float: auto;
}
select::-ms-expand {
  display: none;
  }
  .selectdiv:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #131313;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    position: absolute;
    pointer-events: none;
  }
  .selectdiv select {
    width: auto;
    flex: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #88bef7;
    border-radius: 20px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 12px;
    font-size: 16px;
    line-height: 1.75;
    -ms-word-break: normal;
    word-break: normal;
  }
  .boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .btn-lg {
    width: 75%;
    margin: 5px 0;
    border-radius: 20px;
    padding: 10px;
  }
  .primary {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  #button2 {
    background-color: #4CAF50;
  }
  .primary:hover{
    background-color: #013369;
  }
  #button2:hover {
    background-color: #145315;
  }
.content {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
.textos {
  text-align: left;
}
.selectdiv {
  text-align: left;
}
.boton {
  text-align: center;
}
.radio{
  display: flex;
}
input[type="radio"]{
  margin-right: 15px;
}
#titulo{
  margin-right: 70px;
}
@media (max-width: 768px) {
  .container {
    align-items: center;
    width: 100%;
  }
  .container {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 10px auto auto auto;
    width: 80%;
    padding: 20px auto;
    box-shadow: 1px 1px 2px 2px #88888879;
  }
  .content {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}