body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    background-image: url('../../../public/img/principal.jpg');
    background-size: cover;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
h2 {
    font-size: 30px; /*Tamaño del título */
    margin: 0;
}
.table-container {
    max-height: 500px; /* Altura máxima de la tabla con desplazamiento */
    overflow-y: scroll;
    text-align: center;
    margin: 10px;
}
#table {
    flex: 3;
}
.table-container table {
    direction: ltr;
}
table.table-container {
    width: 100%;
    margin-top: 0;
    margin: 10px;
    max-height: 500px;
}
table {
    border-collapse: collapse;
    width: auto; /* Ancho de la tabla*/
    text-align: center;
    overflow: auto; /* Agregar barra de desplazamiento cuando sea necesario a la tabla */
    margin-top: px;
}
#collapseTable{
    border: 1px solid rgba(0, 0, 0, 0.451);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.433);
    margin: 10px;
    border-radius: 5px;
    flex: 100% 100%;
}
.table-container::-webkit-scrollbar {
    width: 10px;
}
.table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.table-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
.table-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
table, th, td {
    border: 2px solid #b1b1b1; /* Bordes de la tabla*/
}
th, td {
    padding: 12px;
}
th {
    background-color: rgb(20, 75, 5); /*Color de fondo para las celdas de encabezado*/
    color: #fff;
    padding: 20px;
}
@media (max-width: 1100px){
    th {
        padding: 10px;
    }
}
tr:nth-child(even) {
    background-color: #ebebeb; /*Color de fondo para filas pares*/
}
tr:nth-child(odd) {
    background-color: #fff; /* Color de fondo para filas impares */
}
button {
    background: none;
    border: none;
    cursor: pointer;
}